@import '../utilities/vars';
@import '../utilities/mixins';

.navigation {
    position: absolute;
    top: 15%;
    left: -60%;
    width: 60%;
    height: calc(100% - 15%);
    background: linear-gradient(180deg, #a0acca 60%, #849BD5 90%);
    font-family: $main-font;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    transition: 0.6s;

    @media (min-width: 600px) and (orientation: portrait) {
        top: 15%;
        left: auto;
        right: 0;
        width: 50%;
        height: calc(100% - 8%);
    }

    @media (min-width: 1000px) and (orientation: portrait) {
        width: 40%;
    }

    @media (min-width: 400px) and (max-width: 860px) and (orientation: landscape) {
        z-index: 2;
    }

    @media (min-width: 400px) and (orientation: landscape) {
        top: 0;
        left: auto;
        right: -40%;
        width: 40%;
        height: 100%;
    }

    @media (min-width: 950px) and (orientation: landscape) {
        top: 9%;
        right: 5%;
        width: 25%;
    }

    @media (min-width: 1300px) and (orientation: landscape) {
        width: 22%;
    }

    &--active-z-index {
        z-index: 1;
    }

    &--animation-menu-in {
        transform: translateX(100%);
        animation: slideMenuIn 0.3s;

        @media (min-width: 600px) {
            transform: translateX(0);
            animation: slideMenuIn 0.6s;
        }

        @media (min-width: 400px) and (max-width: 860px) and (orientation: landscape) {
            transform: translateX(-100%);
            animation: slideMenuIn 0.3s;
        }
    }

    &--animation-menu-out {
        transform: translateX(0);
        animation: slideMenuOut 0.3s;

        @media (min-width: 600px) {
            animation: slideMenuOut 0.6s;
        }

        @media (min-width: 400px) and (max-width: 860px) and (orientation: landscape) {
            animation: slideMenuOut 0.3s;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;

        &__link {
            margin-top: 15%;

            @media (min-width: 400px) and (max-width: 699px) and (orientation: landscape) {
                margin-top: 10%;
            }

            &:nth-child(1) {
                margin-top: 40%;

                @media (min-width: 400px) and (max-width: 950px) and (orientation: landscape) {
                    margin-top: 15%;
                }

                .navigation__menu__link__list-item {
                    color: $type-font-color;
                    border-color: $type-font-color;

                    &::before {
                        color: $type-font-color;
                    }

                    &::after {
                        color: $type-font-color;
                    }
                }
            }

            &__list-item {
                @include resetButton;
                @include submitButton(70%, $line-height: 35px);
                position: relative;
                display: block;
                margin: 0 auto;
                overflow: hidden;

                @media (min-width: 400px) and (orientation: landscape) {
                    width: 65%;
                    margin: 0 auto;
                }

                @media (min-width: 700px) and (max-width: 949px) and (orientation: landscape) {
                    width: 60%;
                }
            }
        }

        &__hamburger {
            position: absolute;
            top: 3%;
            right: 10%;
            background-color: transparent;
            font-size: 60px;
            border: none;
            color: $main-color;
            cursor: pointer;
            transition: 0.3s;

            @media (min-width: 400px) and (max-width: 900px) and (orientation: landscape) {
                top: 25%;
                right: 110%;
                font-size: 40px;
                color: $text-color;
                z-index: 2;
            }

            @media (min-width: 950px) and (orientation: landscape) {
                right: 10%;
                font-size: 50px;
                color: $main-color;
            }

            &:focus {
                outline: none;
            }
        }

        // &__hamburger--active {
        //     font-size: 70px;

        //     @media (min-width: 950px) and (orientation: landscape) {
        //         font-size: 60px;
        //     }
        // }
    }
}

@keyframes slideMenuIn {
    0% {
        @include menuAnimationLeft;
    }

    100% {
        @include menuAnimationRight;
    }
}

@keyframes slideMenuOut {
    0% {
        @include menuAnimationRight;
    }

    100% {
        @include menuAnimationLeft;
    }
}

@media (min-width: 600px) {
    @keyframes slideMenuIn {
        0% {
            @include menuAnimationLeft;
        }

        50% {
            @include menuAnimationRight;
        }

        100% {
            @include menuAnimationLeft;
        }
    }

    @keyframes slideMenuOut {
        0% {
            @include menuAnimationLeft;
        }

        50% {
            @include menuAnimationRight;
        }

        100% {
            @include menuAnimationLeft;
        }
    }
}

@media (min-width: 400px) and (max-width: 860px) and (orientation: landscape) {
    @keyframes slideMenuIn {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes slideMenuOut {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }
}