@import '../utilities/vars';
@import '../utilities/mixins';

.navigation {
    position: absolute;
    top: 8%;
    right: 4%;
    width: 28%;
    height: calc(100% - 8%);
    background: linear-gradient(180deg, #a0acca 60%, #849BD5 90%);
    font-family: $main-font;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;

        &__link {
            margin-top: 40px;

            &:nth-child(1) {
                margin-top: 130px;

                .navigation__menu__link__list-item {
                    color: $type-font-color;
                    border-color: $type-font-color;

                    &::before {
                        color: $type-font-color;
                    }

                    &::after {
                        color: $type-font-color;
                    }
                }
            }

            &__list-item {
                @include resetButton;
                @include submitButton;
                position: relative;
                display: block;
                margin: 0 auto;
                overflow: hidden;

                &::before {
                    @include pseudoElementBeforeButton;
                    width: 298px;
                    height: 60px;
                }

                &::after {
                    @include pseudoElementAfterButton;
                    width: 0;
                    height: 59px;
                }

                &:hover {
                    &::before {
                        transform: translateY(0);
                    }

                    &::after {
                        width: 300px;
                        color: $main-color;
                    }
                }
            }
        }

        &__hamburger {
            position: absolute;
            top: 30px;
            right: 30px;
            background-color: transparent;
            font-size: 60px;
            border: none;
            color: $main-color;
            cursor: pointer;
            transition: 0.3s;

            &:focus {
                outline: none;
            }
        }

        &__hamburger--active {
            font-size: 70px;
        }
    }
}

.navigation--animation-menu-in {
    animation: slideMenuIn 0.6s;
}

.navigation--animation-menu-out {
    animation: slideMenuOut 0.6s;
}

.navigation--active-z-index {
    z-index: 1;
}

@keyframes slideMenuIn {
    0% {
        @include menuAnimationFrom;
    }

    50% {
        @include menuAnimationMiddle;
    }

    100% {
        @include menuAnimationFrom;
    }
}

@keyframes slideMenuOut {
    0% {
        @include menuAnimationFrom;
    }

    50% {
        @include menuAnimationMiddle;
    }

    100% {
        @include menuAnimationFrom;
    }
}

@media (max-width: $breakpoint-1450) {
    .menu {
        aside {
            a {
                margin-top: 30px;

                .menuList {
                    font-size: 22px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-1024) and (max-height: $breakpoint-800) {
    .menu {

        aside {
            .hamburger {
                top: 20px;
                right: 20px;
                font-size: 50px;
            }

            a {
                margin-top: 20px;

                .menuList {
                    font-size: 20px;
                    line-height: 45px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-1024) and (max-height: $breakpoint-600) {
    .menu {

        aside {
            .hamburger {
                font-size: 40px;
            }

            a {
                &:nth-child(1) {
                    margin-top: 80px;
                }

                .menuList {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-860) and (orientation: landscape) {
    .menu {

        aside {
            .hamburger {
                top: 15px;
                right: 15px;
                font-size: 30px;
            }

            a {
                &:nth-child(1) {
                    margin-top: 50px;
                }

                .menuList {
                    font-size: 15px;
                    line-height: 40px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-650) and (orientation: landscape) {
    .menu {

        aside {
            .hamburger {
                top: 12px;
                right: 12px;
                font-size: 24px;
            }

            a {
                &:nth-child(1) {
                    margin-top: 40px;
                }

                .menuList {
                    font-size: 12px;
                    line-height: 30px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-570) and (orientation: landscape) {
    .menu {

        aside {
            .hamburger {
                top: 10px;
                right: 10px;
                font-size: 20px;
            }

            a {
                .menuList {
                    font-size: 10px;
                    line-height: 25px;
                }
            }
        }
    }
}