@import 'vars';

@mixin resetButton {
    background-color: transparent;
    border: none;
    color: $text-color;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

@mixin pseudoElementBeforeButton($color: $main-color) {
    content: '';
    position: absolute;
    display: block;
    color: $color;
    border-left: solid 1px;
    border-right: solid 1px;
    transform: translateY(100%);
    transition: 0.3s;
}

@mixin pseudoElementAfterButton {
    content: '';
    position: absolute;
    display: block;
    color: transparent;
    border-top: solid 1px;
    transform: translateY(-100%);
    transition: 0.3s;
}

@mixin submitButton($width: 300px, $color: $main-color, $font-size: 30px, $line-height: 60px) {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 5% 0 0 0;
    width: $width;
    line-height: $line-height;
    border-bottom: 1px $color solid;
    color: $color;
    font-family: inherit;
    font-size: $font-size;
    transition: 0.3s;
}

@mixin hoverButton {
    transform: scale(1.2, 1.2);
}

@mixin mainContainer {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 76%;
    height: 71%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $bet-color;
    font-family: 'Questrial', sans-serif;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

@mixin pageTitle {
    font-size: 45px;
    font-weight: normal;
}

@mixin rulesIcons {
    position: absolute;
    color: $main-color;
    font-size: 30px;
    transition: 0.3s;
}

@mixin menuAnimationFrom {
    transform: translateX(0);
    overflow: hidden;
}

@mixin menuAnimationMiddle {
    transform: translateX(50%);
}