@import '../utilities/vars';
@import '../utilities/mixins';

.register {
    @include mainContainer(false);

    &__title {
        @include pageTitle;
        padding-bottom: 10%;

        @media (min-width: 360px) and (orientation: portrait) {
            padding-bottom: 20%;
        }

        @media (min-width: 400px) and (max-width: 599px) and (orientation: landscape) {
            padding-bottom: 3%;
        }

        @media (min-width: 600px) and (max-width: 1020px) and (orientation: landscape) {
            padding-bottom: 5%;
        }

        @media (min-width: 800px) and (max-height: 400px) and (orientation: landscape) {
            padding-bottom: 3%;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
        width: 100%;

        &__box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-size: 14px;

            @media (min-width: 360px) and (orientation: portrait) {
                font-size: 16px;
            }

            @media (min-width: 480px) and (orientation: portrait) {
                font-size: 20px;
            }

            @media (min-width: 600px) and (orientation: portrait) {
                font-size: 24px;
            }

            @media (min-width: 800px) and (orientation: portrait) {
                font-size: 28px;
            }

            @media (min-width: 1000px) and (orientation: portrait) {
                font-size: 32px;
            }

            @media (min-width: 400px) and (orientation: landscape) {
                font-size: 12px;
            }

            @media (min-width: 850px) and (orientation: landscape) {
                font-size: 14px;
            }

            @media (min-width: 1200px) and (orientation: landscape) {
                font-size: 16px;
            }

            @media (min-width: 1350px) and (orientation: landscape) {
                font-size: 20px;
            }

            @media (min-width: 1700px) and (orientation: landscape) {
                font-size: 24px;
            }

            &__label {
                width: 25%;
                text-align: right;

                @media (min-width: 600px) and (orientation: portrait) {
                    width: 30%;
                }

                @media (min-width: 1200px) and (orientation: landscape) {
                    width: 30%;
                }
            }

            &__input {
                flex-grow: 2;
                height: 20px;
                margin: 0 5%;
                padding: 0 5px;
                font-size: 14px;
                background-color: $text-color;

                @media (min-width: 360px) and (orientation: portrait) {
                    height: 25px;
                    font-size: 16px;
                }

                @media (min-width: 480px) and (orientation: portrait) {
                    height: 30px;
                    margin: 0 10% 0 5%;
                    font-size: 20px;
                }

                @media (min-width: 600px) and (orientation: portrait) {
                    height: 35px;
                    margin: 0 15% 0 2%;
                    font-size: 24px;
                }

                @media (min-width: 800px) and (orientation: portrait) {
                    height: 40px;
                    font-size: 28px;
                }

                @media (min-width: 1000px) and (orientation: portrait) {
                    height: 45px;
                    font-size: 32px;
                }

                @media (min-width: 400px) and (orientation: landscape) {
                    margin: 0 20% 0 2%;
                    font-size: 12px;
                }

                @media (min-width: 850px) and (orientation: landscape) {
                    height: 25px;
                    margin: 0 25% 0 1%;
                    font-size: 14px;
                }

                @media (min-width: 1200px) and (orientation: landscape) {
                    margin: 0 30% 0 1%;
                    font-size: 16px;
                }

                @media (min-width: 1350px) and (orientation: landscape) {
                    height: 30px;
                    font-size: 20px;
                }

                @media (min-width: 1700px) and (orientation: landscape) {
                    height: 35px;
                    font-size: 24px;
                }
            }

            &__error {
                height: 20px;
                width: 100%;
                padding-left: 30%;
                color: $type-font-color;

                @media (min-width: 480px) and (orientation: portrait) {
                    height: 30px;
                }

                @media (min-width: 600px) and (orientation: portrait) {
                    height: 35px;
                    padding-left: 32%;
                }

                @media (min-width: 600px) and (orientation: portrait) {
                    height: 40px;
                }

                @media (min-width: 400px) and (orientation: landscape) {
                    height: 15px;
                    padding-left: 28%;
                }

                @media (min-width: 850px) and (orientation: landscape) {
                    height: 20px;
                }

                @media (min-width: 1200px) and (orientation: landscape) {
                    padding-left: 32%;
                }

                @media (min-width: 1350px) and (orientation: landscape) {
                    height: 25px;
                }

                @media (min-width: 1700px) and (orientation: landscape) {
                    height: 30px;
                }
            }
        }

        &__button {
            @include resetButton;
            @include submitButton;
            margin: auto 0 0 0;
        }
    }
}