@import 'vars';
@import 'mixins';

.bet {
    @include mainContainer;
    padding: 5% 0 6% 0;

    &__title {
        @include pageTitle;
        padding-bottom: 5%;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-height: 55%;
        width: 80%;
        overflow: auto;

        .matches {
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            font-size: 30px;

            &__one-match {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 600px;
                padding: 0;

                &__team {
                    width: 100%;

                    &:nth-of-type(1) {
                        display: flex;
                        justify-content: flex-end;
                        padding-right: 30px;
                    }

                    &:nth-last-of-type(1) {
                        padding-left: 30px;
                    }
                }

                &__result {
                    background-color: $text-color;
                    border: 1px $main-color solid;
                    width: 40px;
                    height: 40px;
                    font-size: 30px;
                    text-align: center;
                    color: $main-color;

                    &:nth-of-type(1) {
                        margin-right: 10px;
                    }

                    &:nth-of-type(2) {
                        margin-left: 10px;
                    }
                }
            }

            &__date {
                padding-right: 100px;
            }

            &__details {
                @include resetButton;
                color: $main-color;
                font-size: 30px;

                .detail {
                    position: absolute;
                    display: grid;
                    grid-template-columns: 1fr 380px;
                    grid-template-rows: 40px 1fr;
                    height: 300px;
                    width: 600px;
                    background-color: $main-color;
                    background-position: center;
                    border: 2px $main-color solid;
                    color: $text-color;
                    font-size: 18px;
                    overflow: visible;
                    font-family: $main-font;

                    &__teams {
                        grid-column: 2;
                        display: flex;
                        justify-content: space-around;
                        margin-top: 10px;

                        &__one-team {
                            background-color: $main-color;
                            height: 30px;
                            width: 150px;
                            overflow: hidden;
                            line-height: 30px;
                            border: 1px solid $text-color;
                        }
                    }

                    &__menu {
                        grid-row: 2;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;

                        &__section {
                            background-color: $main-color;
                            height: 30px;
                            width: 170px;
                            line-height: 30px;
                            border: 1px solid $text-color;
                        }
                    }

                    &__results {
                        grid-row: 2;
                        grid-column: 2;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;

                        &__one-result {
                            display: flex;
                            justify-content: space-around;

                            &__text {
                                text-shadow: 0 0 3px #000, 0 0 5px $main-color;
                            }
                        }
                    }
                }
            }
        }
    }

    &__submit {
        @include resetButton;
        @include submitButton;

        &::before {
            @include pseudoElementBeforeButton;
            width: 298px;
            height: 60px;
        }

        &::after {
            @include pseudoElementAfterButton;
            width: 0;
            height: 59px;
        }

        &:hover {
            &::before {
                transform: translateY(0);
            }

            &::after {
                width: 300px;
                color: $main-color;
            }
        }
    }
}

@media (max-width: $breakpoint-1600) {
    .betForm {
        width: 100%;
    }
}

@media (max-width: $breakpoint-1280) {
    .betForm {
        width: 100%;
    }
}