@import 'vars';
@import 'mixins';

.rules {
    @include mainContainer;
    padding: 5% 0 6% 0;

    &__title {
        @include pageTitle;
    }

    &__rule {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        height: 100%;

        &__card {
            @include resetButton;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 20px 40px 20px;
            font-size: 40px;
            font-family: $main-font;
            border: 3px solid $main-color;
            border-radius: 5%;
            background-color: $main-color;
            transform: perspective(50px) rotateY(1.5deg);
            transition: 0.3s;

            &:hover {
                transform: perspective(0) rotateY(0);
            }

            .rules__rule__card__icon::before {
                margin-left: 0;
                color: $bet-color;
                font-size: 200px;
            }

            &__title {
                margin-top: 20px;
                font-weight: normal;
                color: $bet-color;
            }
        }

        &--active {
            // transform: perspective(0) rotateY(0) translateX(-500px);

            // &:hover {
            //     transform: perspective(0) rotateY(0) translateX(-500px);
            // }
        }

        &--not-active {
            opacity: 0;
            order: 1;
            // transform: scale(0.5) translate(5px);
        }

        &__description {
            position: absolute;
            top: 50%;
            left: 40%;
            width: 50%;
            font-size: 30px;
            letter-spacing: 1px;
            line-height: 35px;
            transform: translateY(-50%);
            transition: 0.3s;

            &__better {
                font-family: 'Quantify', 'Helvetica', sans-serif;
            }
        }

        &__close {
            @include resetButton;
            @include rulesIcons;
            top: 25%;
            right: 10%;
        }

        &__next {
            @include resetButton;
            @include rulesIcons;
            top: 70%;
            right: 10%;
        }
    }

    &__button {
        @include resetButton;
        margin: auto 0 0 0;
        padding: 0 70px 12px 70px;
        border-bottom: 1px $main-color solid;
        color: $main-color;
        font-family: inherit;
        font-size: 30px;
    }
}