@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main-color;
    overflow: hidden;
}

// .fade-enter {
//     transform: translate(-100%, -50%);
//     z-index: 1;
// }

// .fade-appear-active,
// .fade-enter .fade-enter-active {
//     transform: translate(0, -50%);
//     transition: transform 10000ms linear 5000ms;
// }

// .fade-exit {
//     transform: translate(0, -50%);
// }

// .fade-exit,
// .fade-exit-active {
//     transform: translate(-100%, -50%);
//     transition: transform 5000ms linear;
// }