@import 'vars';

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: $main-font;

    .logo {
        position: fixed;
        top: 40px;
        left: 50px;
        color: $text-color;
        font-family: Quantify, Helvetica, sans-serif;
        font-size: 75px;
        font-weight: normal;
    }

    .logIn {
        position: fixed;
        top: 35px;
        right: 35px;

        button,
        span {
            border: none;
            background-color: transparent;
            color: $text-color;
            font-size: 28px;
            font-family: 'Questrial', sans-serif;
        }
    }
}