@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

$main-color: #2F384D;
$text-color: #E5E5E5;
$type-font-color: #9F0D0D;
$bet-color: #CFDEFE;
$main-font: 'Questrial',
sans-serif;

$breakpoint-1600: 1600px;
$breakpoint-1450: 1450px;
$breakpoint-1300: 1300px;
$breakpoint-1280: 1280px;
$breakpoint-1024: 1024px;
$breakpoint-900: 900px;
$breakpoint-860: 860px;
$breakpoint-800: 800px;
$breakpoint-720: 720px;
$breakpoint-700: 700px;
$breakpoint-650: 650px;
$breakpoint-600: 600px;
$breakpoint-570: 570px;